/doc/secret/*.key
/doc/secret/*.json
/doc/game_info/*.jsonl
!/doc/game_info/example.jsonl
__pycache__
logs/*.log
.DS_Store
.vscode/
grpc_client.py
test.py
/test/tes.py
/test/test1.py
agent.json
test_generate_script_agent.py
test_summary.py
test_intelligent_agent_script.py
doc/game_info/useful_info
test_summary_intelligent_agent_script.py
test_summary_script.py